.mosquito {
	width: 45px;
	height:45px;

}

.mosquito2 {
	width: 50px;
	height: 50px;

}

.mosquito3 {
	width: 65px;
	height: 65px;

}

.ladoA {
	transform: scaleX(1); /*essa ja e o padrao da imagem original*/
}

.ladoB {
	transform: scaleX(-1); /* inverte a imagem*/
}



body {
	background-image: url("./imagens/bg.jpg");
	background-repeat: no-repeat;
	background-size: 100%;
}
.menu {
	position: absolute;
	width: 190px;
	bottom: 0px;
	border-top: solid 1px black;
}
.vidas {
	float: left;
}

.tempo{
	float: left;
}